body {
    background-image: url("../imagem/forest-1402418.jpg"); /*imagem de fundo*/
    background-size: 100%;
    display: flex;
    justify-content: center; /*para alinhar o conteúdo no centro*/
    align-items: center;
    height: 100vh;
}

h1 {
    padding-right: 80px; /*para dar uma distância entre o título e o formulário*/
    color: #237bed;
    font-family: 'Tilt Prism', cursive;
}

form {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column; /*para ficar organizado em coluna*/
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9a0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}